[Desktop Entry]
Name=RustDesk
NoDisplay=true
MimeType=x-scheme-handler/RustDesk;
TryExec=RustDesk
Exec=RustDesk %u
Icon=RustDesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=RustDesk
