[Unit]
Description=YunDesk
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/YunDesk --service
# kill --tray and --server both
ExecStop=pkill -f "YunDesk --"
# below two lines do not work, have to use above one line
#ExecStop=pkill -f "YunDesk --tray"
#ExecStop=pkill -f "YunDesk --server"
PIDFile=/run/YunDesk.pid
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000
Environment="PULSE_LATENCY_MSEC=60" "PIPEWIRE_LATENCY=1024/48000"

[Install]
WantedBy=multi-user.target
